.fondos {
  position: relative;
  height: 80vh;
  margin: 0;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landing_page {
  background-image: url(images/landing_page.jpeg);
}

.inicio {
  background-image: url(images/inicio_notitle.jpeg);
}

.homeFondo {
  background-image: url(images/homeFondo.jpeg);
}

.islasFondo {
  background-image: url(images/islasFondo.jpeg);
}

.container_login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  gap: 75px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boton_inicio {
  --button_radius: 0.75em;
  --button_color: #4F46E5;
  --button_outline_color: #000000;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button_inicio:hover {
  transform: translateY(-0.33em);
}

.button_inicio:active {
  transform: translateY(0);
}

.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container input {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 2px solid #000000;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.button-return {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  color: black;
  cursor: pointer;
}

.button-return:before,
.button-return:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button-return:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-return:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button-return:hover:before,
.button-return:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button-return:hover:after,
.button-return:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-return-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-return-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
}

.button-return:hover .button-return-box,
.button-return:focus .button-return-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

.mensajeServerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mensajeServer {
  margin-top: 10px;
  font-weight: bold;
}

.divButton {
  display: grid;
}

.body_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
}

.canvas_grid {
  border: 1px solid black;
  cursor: crosshair;
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  gap: 8px;
}

.tooltip {
  position: absolute;
  display: inline-block;
}

.tooltip-text {
  visibility: visible;
  opacity: 1;
  width: 180px;
  background-color: #4F46E5;
  color: #fff;
  text-align: center;
  padding: 5px;
   border: 2px solid #000;
  border-radius: 6px;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity:   1;
}

.button_aventura-container {
  top: 30%;
  left: 15%;
}

.button_tienda-container {
  top: 85%;
  right: 22%;
}

.button_repaso-container {
  bottom: -5%;
  left: 22%;
}

.button_perfil-container {
  top: 42%;
  left: 40%;
  transition: transform 0.2s ease;  
}

.button_perfil-container:hover {
  transform: scale(1.2);
}

.button_perfil-container .tooltip-text {
  top: 90%;
  left: 50%;
}

.button_aventura-container .tooltip-text {
  top: 160%;
  left: 50%;
}

.button_tienda-container .tooltip-text {
  top: 140%;
  left: 50%;
}

.button_repaso-container .tooltip-text {
  top: 100%;
  left: 50%;
}

.containerTienda {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.item-img {
  width: auto;
  height: auto;
  object-fit: contain;
}

#avatar {
  position: relative;
  flex: 0 0 20%;
  align-self: center;
  justify-content: center;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.homeFondo #avatar {
  width: 375px;
  height: 200px;
  pointer-events: auto;
}

#cosmeticos {
  flex: 0 0 80%;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 15px;
  justify-content: center;
}

#cosmeticos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
}

#cosmeticos p {
  margin: 4px 0;
  text-align: center;
  font-size: 12px;
}

.layer {
  position: absolute;
  pointer-events: none;
  image-rendering: pixelated;
}

.containerTienda .layer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

.divButones .layer {
  top: 15%;
  left: 33%;
  transform: scale(1.3);
}

.avatar-btn {
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.avatar-btn.layer {
    position: absolute;
    object-fit: contain;
}

.button_aventura,
.button_tienda,
.button_repaso {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button_aventura-container,
.button_tienda-container,
.button_repaso-container {
  transition: transform 0.2s ease; 
}

.button_aventura-container:hover,
.button_tienda-container:hover,
.button_repaso-container:hover {
  transform: scale(1.2);
}

.button_aventura {
  background-image: url("images/icono_aventura.png");
  transform: scale(2);
}

.button_tienda {
  background-image: url("images/icono_tienda.png");
  transform: scale(1.7);
}

.button_repaso {
  background-image: url("images/icono_repaso.png");
  transform: scale(1.3);
}

.isla,
.nivel {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.isla {
  background-image: url("images/isla_nocompletada.png");
}

.nivel {
  background-image: url("images/nivel_nocompletado.png");
}

.isla-btn {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* posicionamiento libre */
.button_isla1 {
  top: 30%;
  left: 20%;
}

.button_isla2 {
  top: 60%;
  left: 70%;
}

.button_nivel1 {
  top: 35%;
  left: 30%;
}

.button_nivel2 {
  top: 55%;
  left: 65%;
}

.button_isla1,
.button_isla2,
.button_nivel1,
.button_nivel2 {
  transition: transform 0.2s ease;
}

.button_isla1:hover,
.button_isla2:hover,
.button_nivel1:hover,
.button_nivel2:hover {
  transform: scale(1.2);
}

.islasFondo .tooltip-text {
  top: 100%;
}

.nivelesFondo .tooltip-text {
  top: 90%;
}